body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.hide {
  display: none;
}
.show {
  display: block;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* Style for the search form */
.search-form {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  margin: 0;
}

.search-form input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button[type='submit'] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the photo cards */
.photo-card {
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.photo-card .photo-card-img-holder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-card img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  display: block;
}

/* Style for the info section */
.info {
  border-top: 1px solid #f3f3f3;
  padding: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info-item {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info-item b {
  color: #007bff;
}
